* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.screenGameOn {
    width: 100%;
    height: 100vh;
    background-image: url('./image/nnneon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(10, 10, 10);
}

.cardStyle {
    width: 4rem;
    display: block;
    height: 100%;
}

.gameCard {
    width: 5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: solid rgb(66, 62, 62) 0.2rem;
    border-radius: 0.3rem;
}

.gameCard:hover {
    transition: all 300ms;
    transform: scale(1.1, 1.1);
    margin-bottom: 1rem;
}

.cards {
    height: 6rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0.4rem;
    align-items: center;
    gap: 0.7rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.cards::before {
    content: 'você';
    position: absolute;
    font-size: 1rem;
    text-align: center;
    top: -2rem;
    color: #ecebeb;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: black;
    padding: 0 1rem;
    border-radius: 30%;
    font-weight: bold;
}

.cardsMaquina {
    height: 6rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0.4rem;
    align-items: center;
    gap: 0.7rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.gameCardmaquinaStyle {
    width: 5rem;
    background-color: #ecebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: solid rgb(66, 62, 62) 0.2rem;
    border-radius: 0.3rem;
}

.gameCardmaquinaStyle .cardStyle {
    width: 100%;
    padding: 0.1rem;
}

.pontuacaoDisplay {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 10rem;
    height: 100%;
    justify-content: space-around;
}

.pontuacao {
    font-size: 2rem;
    color: aliceblue;
}

.timer {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(48, 47, 47, 0.521);
    visibility: hidden;
}

.animationTimer {
    animation: animationT 2.5s ease-in-out;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 15%;
    position: absolute;
    left: -4rem;
}

@keyframes animationT {
    0% {
        left: -10rem;
    }

    40% {
        left: 50%;
    }

    100% {
        left: 110%;
    }
}

